{% extends "users/base.html" %}

{% load static %}

{% block title %}Тесты{% endblock %}

{% block content %}
{% comment %} <style>
    p, span, input {
     font-size:24px;
    }
    button{
        font-size:18px;
    }
    #vo {
        color:green;
    }
    #nvo {
        color:red;
    }
    #ot {
        color:blue;
    }
</style> {% endcomment %}

{% comment %} <div style="margin-left: auto;margin-right: auto;width: 600px;text-align:center; color:#ffffff">
    <p>Тема: "Пределы"</p>
    <div id="vopros1" style="display:block;"> 
        <p>Вопрос 1 </p> 
            <img src="{% static 'media/images/image.png' %}" width="600px"> <br> <br>
            <span id="v_1"></span> <input type="text" id="z_1">
            <p>
                Перечислим все основные виды неопределенностей:
            <ol style="text-align:left;">
                <li>ноль делить на ноль</li>
                <li>бесконечность делить на бесконечность</li>
                <li>ноль умножить на бесконечность</li>
                <li>бесконечность минус бесконечность</li>
                <li>единица в степени бесконечность</li>
                <li>ноль в степени ноль формула</li>
                <li>бесконечность в степени ноль</li>
            </ol>
            </p>
    </div>
    <div id="vopros2" style="display:none;">
        <p>Вопрос 2</p>
        <img src="{% static 'media/images/image1.png'  %}" width="600px"> <br> <br>
        <p><span id="v_2"></span> <input type="text" id="z_2"></p>
        <p>
            Раскрывать неопределенности позволяет:
        <ul style="text-align:left;">
            <li>упрощение вида функции;</li>
            <li>использование замечательных пределов;</li>
            <li>применение правила Лопиталя;</li>
            <li>использование замены бесконечно малого выражения ему эквивалентным.</li>
        </ul>
        </p>
    </div>
    <button id="kn_sl" onclick="sled_vopr();">Следующий вопрос</button>
   <center> <button id="kn_pr" style="display:none;" onclick="proverit();">Проверить</button></center>
    <div id="rezultat"></div>
</div>

<script>

function sled_vopr(){
    if(document.getElementById('vopros2').style.display == "block"){
        document.getElementById('vopros2').style.display = "none";
        document.getElementById('kn_sl').style.display = "none";
        document.getElementById('kn_pr').style.display = "block";
    }
    if(document.getElementById('vopros1').style.display == "block"){
        document.getElementById('vopros1').style.display = "none";
        document.getElementById('vopros2').style.display = "block";
    }
}

function proverit(){
    otv_uch_1 = document.getElementById('z_1').value;
    otv_ucgenika_1 = otv_uch_1;
    otv_uch_2 = document.getElementById('z_2').value;
    otv_ucgenika_2 = otv_uch_2;
    ball = 0;
    document.getElementById('vopros2').style.display = "none";
    document.getElementById('kn_pr').style.display = "none";

if(otv_uch_1 == otv_ucgenika_1){
    ball +=1;
    otveti = "<span id='nvo'>Вопрос 1. Вы ответили неверно.</span>";
} else {
    otveti = "<span id='nvo'>Вопрос 1. Вы ответили неверно. Ваш ответ: "+otv_ucgenika_1+"</span>"; 
}
if(otv_uch_2 == otv_ucgenika_2){
    ball +=1;
    otveti += "<br><span id='nvo'>Вопрос 2. Вы ответили неверно. </span>";
} else {
    otveti += "<br><span id='nvo'>Вопрос 2. Вы ответили неверно. Ваш ответ: "+otv_ucgenika_2+"</span>"; 
}
vsego_zadach = 2;
procent_vip = ball/vsego_zadach * 100;
procent_vip = procent_vip.toFixed();
document.getElementById('rezultat').innerHTML = "<span id='ot'>Задания выполнены верно на 0%.</span><br><br>"+otveti;
}

</script> {% endcomment %}

{% endblock %}
